<nav th:fragment="menu-principal"
	class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
	<a class="navbar-brand" th:href="@{/}">Portal de Empleos</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse"
		data-target="#navbarsExampleDefault"
		aria-controls="navbarsExampleDefault" aria-expanded="false"
		aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarsExampleDefault">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item"
				sec:authorize="hasAnyAuthority('SUPERVISOR','ADMINISTRADOR')">
				<a class="nav-link" th:href="@{/vacantes/indexPaginate}">Vacantes</a>
			</li>
			<li class="nav-item"
				sec:authorize="hasAnyAuthority('SUPERVISOR','ADMINISTRADOR')">
				<a class="nav-link" th:href="@{/categorias/indexPaginate}">Categorias</a>
			</li>
			<li class="nav-item" sec:authorize="hasAnyAuthority('ADMINISTRADOR')">
				<a class="nav-link" th:href="@{/usuarios/index}">Usuarios</a>
			</li>
		</ul>
		<a class="btn btn-primary" th:href="@{/index}">Ingresar</a>&nbsp; 
		<a class="btn btn-primary" th:href="@{/signup}">Registrarse</a>&nbsp; 
		<!--<a class="btn btn-primary" th:href="@{/logout}">Salir</a>&nbsp; -->			
			
			
		<div class="dropdown" sec:authorize="hasAnyAuthority('SUPERVISOR','ADMINISTRADOR')">
		
			<button class="btn btn-primary dropdown-toggle" type="button"
				id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true"
				aria-expanded="false">
				<i class="fas fa-user"></i>&nbsp;
				<span th:if="${session.usuario != null}" class="text-light" th:text="${session.usuario.username}">&nbsp;
			</button>
			
		<div class="dropdown-menu dropdown-menu-right animated fadeIn bg-primary" aria-labelledby="dropdownMenu2">
				
			<button class="dropdown-item bg-primary " type="button" onclick="changePassword();">
				 <a class="btn btn-primary" href="#"><i class="fas fa-key"> Cambiar contrase&ntilde;a</i></a>
			</button>
				
			<button class="dropdown-item bg-primary" type="button" onclick="signOut();">
				<a class="btn btn-primary" th:href="@{/logout}"><i class="fas fa-caret-right"> Salir</i></a>
			</button>
				
		</div>
		</div>


	</div>
</nav>