<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Listado de Vacantes</title>
</head>
<body>
	<h1>Lista de Vacantes</h1>
	
	<table style="width:100%" border="2">
	  <tr>
	    <th>ID</th>
	    <th>Nombre</th>
	    <th>Fecha de Publicacion</th>
	    <th>Salario Ofrecido</th>
	    <th>Descripcion</th>
	  </tr>
	  <tr th:each="vacante : ${vacantes}">
	    <td th:text="${vacante.id}"></td>
	    <td th:text="${vacante.nombre}"></td>
	    <td th:text="${vacante.fecha}"></td>
	    <td th:text="${vacante.salario}"></td>
	    <td th:text="${vacante.descripcion}"></td>
	  </tr>
	</table>

</body>
</html>